* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ebf4f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.barra-topo {
  background: #03396c;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.item-publicacao {
  background: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(3, 57, 108, 0.08);
  overflow: hidden;
  margin: 15px 0;
}
.item-publicacao .img-resumo {
  width: 100%;
}
.item-publicacao .cabecalho-resumo {
  padding: 20px;
  position: relative;
}
.item-publicacao .cabecalho-resumo .categoria-resumo {
  background: #6497b1;
  position: absolute;
  top: -20px;
  right: 10px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
}
.item-publicacao .rodape-resumo {
  background: #b3cde0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 12px;
  color: #005b96;
}
.item-publicacao .rodape-resumo .coment-vote {
  font-size: 14px;
}

.barra-categorias {
  padding: 20px 20px 10px;
}
.barra-categorias ul {
  list-style: none;
}
.barra-categorias ul li {
  display: inline-block;
  border: 1px solid #005b96;
  padding: 5px 15px;
  font-size: 13px;
  color: #005b96;
  border-radius: 15px;
  line-height: 15px;
  transition: all ease-in-out 0.3s;
}
.barra-categorias ul li:hover {
  background: #005b96;
  color: #fff;
  cursor: pointer;
}
.barra-categorias .btn-new-post {
  float: right !important;
}

.btn-vote {
  font-size: 25px;
  line-height: 0;
  padding-left: 5px;
  background: #fff;
  display: inline-block;
}
.btn-vote i {
  line-height: 0;
}

.fa-heart {
  color: red;
  margin-left: 10px;
}

.read-more {
  border: 1px solid #005b96;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 25px;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
.read-more:hover {
  background: #005b96;
  color: #fff;
  text-decoration: none;
}

.title-details {
  margin-top: 20px;
  border-left: 5px solid #005b96;
  padding-left: 10px;
  color: #005b96;
}

h1 {
  color: #fff;
  font-size: 32px;
  line-height: 32px;
}

h3 {
  color: #005b96;
  font-size: 24px;
}

h4 {
  color: #999;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  color: #444;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

a {
  color: #6497b1;
  text-decoration: none;
  font-size: 14px;
}

.delete-post {
  background: red;
  padding: 10px 20px;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.delete-post:hover {
  background: rgb(201, 3, 3);
}

.btn-vote {
  padding: 10px;
  font-size: 12px;
}

/*# sourceMappingURL=main.css.map */
